th{
  font-style: normal;
  color: black;
  align-content: center;
  background-color: whitesmoke;
  border: 0px;
  padding: 5px;
}
td{
  font-style: normal;
  color: black;
  align-content: center;
  background-color: white;
  border: 0px;
  padding: 5px;
}
h1{
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; 
}
h2{
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3{
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h4{
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h5{
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h6{
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
table, th, td {
  border-collapse: collapse;
}
.time{
  font-style: normal;
  color: black;
  align-content: center;
  background-color: azure;
  border: 0px;
  padding: 10px;
}
.phil {
  background-color: lightgreen;
}
.psyc {
  background-color: thistle;
}
.mus {
  background-color: lightsalmon ;
}
.cogs {
  background-color: lightblue;
}
.vol{
  background-color: lightgoldenrodyellow;
}
.free{
  background-color: lavenderblush;
}
img{
  border-radius: 8px;
}
a:link{
  color: darkslategray;
}
a:visited{
  color: magenta;
}
a:hover{
  color: mediumspringgreen;
  cursor: grab;
}
a:active{
  color: tomato;
}